{% extends 'base.html' %}

{%  block content %}
    <header class="masthead">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-10 max-auto">
                        <div class="site-heading">
                            <h3 class="site-heading my-4 mt-3 text-white">Welcome to Trips & tips!</h3>
                            <p class="text-light">We just love the world.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-3 left">
            {% if not posts %}
                <div class="card mb-4">
                    There are no posts yet.
                </div>
            {% else %}
                {% for post in posts %}
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="card-title">{{ post.title }}</h2>
                            <a class="card-text text-muted h6" href="{% url 'user:profile' user_id=post.author.user.id %}">{{ post.author.user.username }}</a>
                                <a class="card-text text-muted h6 date">| {{ post.created_on|date:'Y-m-d' }}</a>
                            {% if post.image %}
                               <img class="image" src="{{ post.image.url }}" alt="connect">
                            {% endif %}
                            <p class="card-text">{{ post.body|slice:":350" }}...</p>
                            <p class="card-text text-muted h6">Tags:
                                {% for tag in post.tags.all %}
                                <a class="card-text text-muted h6" href="{% url 'post:tag' tag=tag.name %}">{{ tag.name }}</a>
                                {% endfor %}
                            </p>
                            <div class="text-center">
                                <a class="btn btn-outline-primary" href="{% url 'post:details' slug=post.slug %}">Read more</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
                {% block pagination %} {% include 'pagination.html' %} {% endblock pagination %}
            </div>
            {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
        </div>
    </div>
{% endblock %}