{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="col-md-8 card mb-4 mt-3 top mx-auto">
            <h2 class="card-title">Confirm deletion</h2>
            <p class="mx-auto">Are you sure you want to delete your post?</p>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center mb-3">
                    <button class="btn btn-outline-danger" type="submit" value="Delete">Delete</button>
                    <a class="btn btn-outline-primary" href="{% url 'post:user-posts' %}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}