{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="col-md-8 card mb-4 mt-3 top mx-auto">
            <h2 class="card-title mt-2">Change password</h2>
            <hr class="mt-1">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center mb-3">
                    <button class="btn btn-outline-primary" type="submit">Save changes</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}